cors:
  originPatterns: ${ORIGIN_PATTERNS:http://localhost:3000,http://localhost:8080,http://localhost:5173}

spring:
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/viasegura}
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true

logging:
  level:
    root: info
    com:
      github:
        sugayamidori: debug
    org:
      springframework:
        web: debug
        security: debug
  file:
    name: logs/app-dev.log