cors:
  originPatterns: ${ORIGIN_PATTERNS:https://staging.viasegura.com}

spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 20000
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,metrics,info,prometheus
  endpoint:
    health:
      show-details: when-authorized
    metrics:
      enabled: true

logging:
  level:
    root: info
    com:
      github:
        sugayamidori: info
    org:
      springframework:
        web: warn
        security: info
  file:
    name: logs/app-staging.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"