cors:
  originPatterns: ${ORIGIN_PATTERNS:https://viasegura.com,https://www.viasegura.com}

spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET}
      expire-length: ${JWT_EXPIRE:3600000}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: never
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    root: warn
    com:
      github:
        sugayamidori: info
    org:
      springframework:
        web: warn
        security: warn
  file:
    name: logs/app-prod.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"